[Unit]
Description=Ertza server
After=armaz-dto.service

[Service]
User=ertza
Group=root
ExecStart=/usr/bin/ertza
KillMode=process

[Install]
WantedBy=multi-user.target
