CONFIG_DEFAULT_HOSTNAME="armaz"
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
# CONFIG_NO_HZ_FULL is not set
CONFIG_TREE_RCU=y
# CONFIG_PREEMPT_RCU is not set
# CONFIG_RCU_USER_QS is not set
# CONFIG_RCU_FAST_NO_HZ is not set
CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
CONFIG_SLUB_CPU_PARTIAL=y
CONFIG_OPTPROBES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_STOP_MACHINE=y
CONFIG_INLINE_SPIN_UNLOCK_IRQ=y
CONFIG_INLINE_READ_UNLOCK=y
CONFIG_INLINE_READ_UNLOCK_IRQ=y
CONFIG_INLINE_WRITE_UNLOCK=y
CONFIG_INLINE_WRITE_UNLOCK_IRQ=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_SWP_EMULATE=y
CONFIG_ARM_ERRATA_643719=y
# CONFIG_ARM_ERRATA_754327 is not set
# CONFIG_ARM_ERRATA_764369 is not set
# CONFIG_ARM_ERRATA_798181 is not set
CONFIG_SMP=y
CONFIG_SMP_ON_UP=y
CONFIG_ARM_CPU_TOPOLOGY=y
# CONFIG_SCHED_MC is not set
# CONFIG_SCHED_SMT is not set
# CONFIG_MCPM is not set
# CONFIG_BIG_LITTLE is not set
CONFIG_NR_CPUS=4
CONFIG_HOTPLUG_CPU=y
CONFIG_PREEMPT_NONE=y
# CONFIG_PREEMPT is not set
CONFIG_PM_SLEEP_SMP=y
# CONFIG_NETFILTER_XT_TARGET_LED is not set
CONFIG_RPS=y
CONFIG_RFS_ACCEL=y
CONFIG_XPS=y
CONFIG_NET_FLOW_LIMIT=y
# CONFIG_MAC80211_LEDS is not set
CONFIG_RFKILL_LEDS=y
CONFIG_CONNECTOR=y
CONFIG_PROC_EVENTS=y
CONFIG_OF_UNITTEST=y
CONFIG_OF_DYNAMIC=y
CONFIG_OF_RESOLVE=y
CONFIG_OF_OVERLAY=y
CONFIG_EEPROM_AT24=y
CONFIG_ENC28J60=y
# CONFIG_ENC28J60_WRITEVERIFY is not set
# CONFIG_WLAN is not set
# CONFIG_KEYBOARD_LM8323 is not set
# CONFIG_INPUT_PWM_BEEPER is not set
# CONFIG_INPUT_IMS_PCU is not set
# CONFIG_SENSORS_PWM_FAN is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_FB_UVESA is not set
# CONFIG_OMAP4_DSS_HDMI is not set
CONFIG_DISPLAY_ENCODER_TFP410=y
CONFIG_DISPLAY_ENCODER_TPD12S015=y
# CONFIG_DISPLAY_CONNECTOR_DVI is not set
# CONFIG_DISPLAY_CONNECTOR_HDMI is not set
# CONFIG_BACKLIGHT_PWM is not set
# CONFIG_BACKLIGHT_LM3630A is not set
# CONFIG_BACKLIGHT_LP855X is not set
CONFIG_LOGO_LINUX_MONO=y
# CONFIG_LOGO_LINUX_CLUT224 is not set
# CONFIG_SOUND is not set
# CONFIG_HID_GT683R is not set
# CONFIG_HID_SONY is not set
# CONFIG_HID_THINGM is not set
# CONFIG_HID_WIIMOTE is not set
# CONFIG_USB_LED_TRIG is not set
CONFIG_LEDS_CLASS=y
# CONFIG_LEDS_CLASS_FLASH is not set
# CONFIG_LEDS_LM3530 is not set
# CONFIG_LEDS_LM3642 is not set
# CONFIG_LEDS_PCA9532 is not set
CONFIG_LEDS_GPIO=y
# CONFIG_LEDS_LP3944 is not set
# CONFIG_LEDS_LP5521 is not set
# CONFIG_LEDS_LP5523 is not set
# CONFIG_LEDS_LP5562 is not set
# CONFIG_LEDS_LP8501 is not set
# CONFIG_LEDS_LP8860 is not set
# CONFIG_LEDS_PCA955X is not set
# CONFIG_LEDS_PCA963X is not set
# CONFIG_LEDS_DAC124S085 is not set
# CONFIG_LEDS_PWM is not set
# CONFIG_LEDS_REGULATOR is not set
# CONFIG_LEDS_BD2802 is not set
# CONFIG_LEDS_LT3593 is not set
# CONFIG_LEDS_TCA6507 is not set
# CONFIG_LEDS_LM355x is not set
# CONFIG_LEDS_BLINKM is not set
# CONFIG_LEDS_SYSCON is not set
# CONFIG_LEDS_PM8941_WLED is not set
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y

#
# iptables trigger is under Netfilter config (LED target)
#
# CONFIG_LEDS_TRIGGER_TRANSIENT is not set
# CONFIG_LEDS_TRIGGER_CAMERA is not set
CONFIG_RTC_DRV_DS1307=y
# CONFIG_COMMON_CLK_PWM is not set
CONFIG_SOC_TI=y
CONFIG_PWM=y
CONFIG_PWM_SYSFS=y
# CONFIG_PWM_FSL_FTM is not set
CONFIG_PWM_PCA9685=y
# CONFIG_PWM_TIECAP is not set
# CONFIG_PWM_TIEHRPWM is not set
# CONFIG_PWM_TWL is not set
# CONFIG_PWM_TWL_LED is not set
CONFIG_FIRMWARE_MEMMAP=y
# CONFIG_DEBUG_PER_CPU_MAPS is not set
# CONFIG_CRYPTO_PCRYPT is not set
CONFIG_CPU_RMAP=y
